<div ng-controller="pokerGameCardTableController" class="card-table">
    
    This is card table

    <button type="button" class="btn btn-primary" 
        ng-disabled="finishedDealCard" ng-click="dealCards()">
        Deal Cards
    </button>

    <ul>
        <li ng-repeat="player in players">
            <ul class="clearfix">
                <li ng-repeat="card in cardsPlayingStatus[player.id]" class="pull-left">
                    <div poker-game-card card-id="card.id" ></div>
                </li>
            </ul>
        </li>
    </ul>

</div>