<div ng-controller="pokerGameGameLogController" class="panel panel-default left-panel">

    <div class="panel-heading">
        <div class="panel-title">Game log</div>
    </div>

    <div class="panel-body panel-game-log">
        Logs go here

        <ul>
            <li ng-repeat="log in logs">{{ log }}</li>
        </ul>

    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-warning" ng-click="cleanLog()">
            Clean logs
        </button>
    </div>

</div>