/**
 * Reset
 */
li {
    list-style: none
}

ul {
    padding: 0;
}

.header {
    margin: 10px;
}

.content {
    position: relative;
    margin: 10px;
}

.left-panel {
    position: absolute;
    width: 250px;
    height: 500px;

    .panel-game-log {
        height: 400px;
    }
}

.stage {
    margin-left: 270px;
}

/**
 * The player list section
 */
.player-list {

}

/**
 * The poker game player directive
 */
.poker-game-player {
    width: 50px;
    margin: 4px;

    .player-avatar {
        font-size: 38px;
    }

    .current-player-arrow {
        text-align: center;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    .player-avatar {
        height: 50px;
        margin-bottom: 2px;
    }

    .player-tag {
        width: 50px;
        height: 20px;
        margin: 0;
        text-align: center;
    }
}

/**
 * Poker game card directive
 */
.poker-game-card {

    width: 45px;
    height: 50px;
    border: 1px solid;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;

    &.red-card {
        color: red;
    }

    &.black-card {
        color: black;
    }

    &.selected {
        background-color: #FFF1A8;
    }

    &.playing {
        cursor: default;
    }
}
